:root {
	--main-colors-black: #0d0c0c;
	--system-colors-element: #efefef;
	--main-colors-accent: #f51b1b;
	--organizer-color-text: #6c27a3;
	--organizer-bg-color: #efdafc;
	--border-input-color-gray: #b3b3bc;
	--border-input-color-green: #23ae00;
	--basic-base: #fff;
	--main-colors-white: #fff;
}
