.modal-bottom {
	display: flex;
	justify-content: center;
	font-family: Redcollar;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.36px;

	.auth-btn {
		color: var(--main-colors-accent);
		background-color: inherit;
		cursor: pointer;
	}
}
