button {
	padding: 21px 32px;
	border-radius: 12px;
	background-color: var(--main-colors-black);
	color: var(--system-colors-element);

	font-family: Redcollar !important;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.36px;

	&:hover {
		background-color: var(--main-colors-accent);
	}
}
