.modal-slider {
	.slider-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;

		.custom-navigation {
			display: flex;
			gap: 8px;

			.prev-button,
			.next-button {
				padding: 8px 16px;
				border-radius: 8px;
				background: var(--system-colors-element);

				img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}

	h3.slider-title {
		font-family: Redcollar;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: -0.48px;
	}

	.swiper-horizontal {
		margin-bottom: 48px;
	}

	.swiper-pagination {
		bottom: px;
		margin-top: 32px;
		position: inherit;

		.swiper-pagination-bullet {
			width: 32px;
			height: 4px;
			border-radius: 4px;

			&-active {
				background-color: var(--main-colors-accent);
			}
		}
	}

	.swiper-slide {
		width: 250px;
		height: 140px;
		margin-right: 40px;
		img {
			width: 250px !important;
			height: 140px !important;
			border-radius: 24px;
			margin-right: 40px !important;
		}
	}
}
