.create-event {
	margin: 0;
	width: 948px;
	&__wrapper {
		display: flex;
		gap: 12px;

		.left-block {
			display: flex;
			flex-direction: column;
			gap: 32px;
			width: 580px;

			.description {
				height: 153px;

				&::placeholder {
					position: absolute;
					top: 18px;
				}
			}
		}
		.right-block {
			display: flex;
			flex-direction: column;
			gap: 32px;
			width: 346px;

			.date-picker {
				display: flex;
				gap: 8px;
			}
		}
	}

	input,
	textarea {
		box-sizing: border-box;
		width: 100%;
		display: flex;
		height: 60px;
		padding: 18px 16px;
		align-items: center;
		gap: 8px;
		align-self: stretch;

		border-radius: 12px;
		border: 1px solid var(--border-input-color-gray) !important;
		background: var(--basic-base) !important;

		&::placeholder {
			font-family: TT Commons;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: -0.4px;
		}
	}

	textarea {
		resize: none;
		height: 153px;
	}

	.create-btn {
		margin: 0 auto;
		width: fit-content;
	}
}

.bottom-block {
	width: 100%;
}

.organiser {
	display: flex;

	&__name {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-label {
		width: fit-content;
		color: var(--organizer-color-text);
		text-align: right;
		font-family: TT Commons;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: -0.28px;

		padding: 2px 4px 1px 4px;
		border-radius: 8px;
		background: var(--organizer-bg-color);
	}

	img {
		width: 40px;
		height: 40px;
		border-radius: 40px;
		background: #efefef;
		margin-right: 12px;
	}
}
