.header {
	display: flex;
	align-items: center;
	position: absolute;
	top: 2rem;
	left: 3.2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: -moz-fit-content;
	height: fit-content;
	&-title {
		display: flex;
		align-items: center;
		font-family: Redcollar;
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: 76.8px;
		letter-spacing: -2.56px;

		.red {
			margin-left: 15px;
			color: var(--main-colors-accent);
		}
	}
}

@media screen and (min-width: 1280px) and (max-width: 1400px) {
	.header-title {
		font-size: 45px;
	}
}
@media screen and (min-width: 1400px) {
	.header-title {
		font-size: 64px;
	}
	.logo-title .title {
		font-size: 32px;
	}
}
