// // .drag {
// // 	display: flex;
// // 	justify-content: center;
// // 	align-items: center;
// // 	height: 170px;

// // 	color: var(--border-input-color-gray);
// // 	text-align: center;
// // 	font-family: TT Commons;
// // 	font-size: 20px;
// // 	font-style: normal;
// // 	font-weight: 400;
// // 	line-height: 22px;
// // 	letter-spacing: -0.4px;

// // 	border-radius: 12px;
// // 	border: 1px dashed var(--border-input-color-gray) !important;
// // 	background: var(--main-colors-white);

// // 	cursor: pointer;
// // }

// // .upload-container {
// // 	display: flex;
// // }

// // .drag {
// // 	/* Стили для зоны загрузки */
// // }

// // .drag-over {
// // 	/* Стили для зоны загрузки при перетаскивании */
// // }

// // .uploaded-images {
// // 	display: flex;
// // 	flex-wrap: wrap;
// // }

// // .uploaded-image {
// // 	position: relative;
// // 	margin-right: 10px;
// // 	margin-bottom: 10px;
// // }

// // .uploaded-image img {
// // 	width: 180px;
// // 	height: 120px;
// // 	object-fit: cover;
// // }

// // .uploaded-image button {
// // 	position: absolute;
// // 	top: 5px;
// // 	right: 5px;
// // 	background-color: transparent;
// // 	border: none;
// // 	color: red;
// // 	cursor: pointer;
// // }

// .wrapper {
// 	padding: 20px;
// }

// .drop_zone {
// 	display: flex;
// 	height: 200px;
// 	width: 100%;
// 	background: white;
// 	// background-image: url("/icons/upload.png");
// 	// background-repeat: no-repeat;
// 	background-size: 100px;
// 	background-position: center;
// 	background-color: #ffffff;
// 	cursor: pointer;
// 	border: 2px dashed #ccc;
// 	border-radius: 6px;
// 	margin-bottom: 25px;
// 	background-position: center 28px;
// }
// .drop_zone > p {
// 	margin: auto;
// }
// .image {
// 	width: 200px;
// 	height: 200px;
// 	border-radius: 4px;
// 	display: inline-block;
// }

.wr {
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.drag-drop {
	width: 580px;
	height: 10.625rem;
	border: 1px dashed gray !important;
	border-radius: 12px;
	// transition: border ;
	display: flex;
	justify-content: center;
	align-items: center;

	&:focus {
		border: 1px dashed black !important;
	}

	.input {
		display: none;
	}
}

.text {
	font-family: #ff2;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.1;
	letter-spacing: -0.4px;
	color: gray;
	padding: 0 1.25rem;
	text-align: center;
}

.imgs {
	display: flex;
	flex-wrap: wrap;
	// position: absolute;
	// bottom: 250px;
	// right: 0;
	width: 37%;
}

.img {
	flex-basis: 45%;
	width: 45%;
	height: 5rem;
	margin: 0 0.75rem 0.75rem 0;
	border-radius: 0.625rem;
	position: relative;

	img {
		border-radius: 0.625rem;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&:hover::before {
		content: '';
		position: absolute;
		top: 0.1875rem;
		right: 0.1875rem;
		z-index: 1;
		width: 1.5rem;
		height: 1.5rem;
		background: url('close.svg');
		cursor: pointer;
	}
}
